// Privacy =======================
.privacy {
    padding: 80px 0 70px;

    &_wrap {
        max-width: 1000px;
        margin: 0 auto;
    }


    &_main-title {
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;
        color: var(--hero-title-color);

        position: relative;
        text-align: center;

        &::after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 50%;
            width: 140px;
            height: 50px;
            transform: translateX(-50%) rotate(6deg);
            -ms-transform: translateX(-50%) rotate(6deg);
            -moz-transform: translateX(-50%) rotate(6deg);
            -webkit-transform: translateX(-50%) rotate(6deg);
            background: url("../images/svg/bg_arrow.svg") no-repeat center;
            background-size: contain;
        }

        span {
            color: var(--red);
        }
    }

    &_subtitle {
        margin: 15px 0 70px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: var(--hero-title-color);
        text-align: center;
    }

    &_txt {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: var(--hero-text-color);
        margin-bottom: 40px;
    }

    &_title {
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: var(--hero-title-color);
        margin-bottom: 20px;
    }

    &_list {
        padding-left: 40px;
        margin-bottom: 40px;

        li {
            position: relative;
            margin-bottom: 20px;
            padding-left: 15px;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: var(--hero-title-color);

            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                width: 5px;
                height: 5px;
                background: var(--hero-title-color);
                border-radius: 50%;
            }

            span {
                font-weight: 700;
            }


            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}

.mb80 {
    margin-bottom: 80px;
}

// Privacy end ===================

// Blog =======================
.blog {
    &_item {
        margin-bottom: 60px;
        border-radius: 20px;
        border: 1px solid var(--tag-bg);
        background: var(--bg-section);
        padding: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        &-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 40px;
            text-transform: capitalize;
            color: var(--hero-title-color);
            margin-bottom: 20px;
        }

        &-txt {
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--hero-text-color);
            margin-bottom: 15px;
        }

        &-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-link {
                font-weight: 600;
                font-size: 16px;
                line-height: 25px;
                letter-spacing: 0.02em;
                text-transform: capitalize;

                color: var(--red);
                @include transition;

                &:hover {
                    color: var(--hero-title-color);
                }
            }

            &-txt {
                font-weight: 400;
                font-size: 14px;
                line-height: 25px;
                opacity: 0.6;
                text-align: right;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color: var(--hero-text-color);
            }
        }
    }
}

// Blog end ===================

// Blog detail =======================
.detail {
    &_main-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        text-transform: capitalize;

        color: var(--hero-title-color);
    }

    &_subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--hero-text-color);
        margin: 20px 0 60px;
    }

    &_title {
        font-weight: 700;
        font-size: 30px;
        line-height: 25px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 30px;
    }

    &_txt {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--hero-text-color);
        margin-bottom: 40px;
    }

    &_img {
        height: 450px;
        width: 100%;
        margin-bottom: 60px;

        img {
            @include ImgCon;
            object-position: left;
        }
    }

    &_list {
        margin-bottom: 40px;
        padding-left: 40px;

        li {
            position: relative;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 0.02em;
            padding-left: 10px;
            text-transform: capitalize;
            color: var(--hero-text-color);

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 100%;
                background: #F0F0F0;
            }
        }
    }

}

// Blog detail end ===================

// About blog detail ======================
.about_detail {
    margin: 60px 0;

    &.bg-pink {
        padding: 60px 0;
        background: var(--table-bg);
        // opacity: var(--svg-opacity);
    }

    &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--hero-text-color);
        margin-bottom: 25px;

        span {
            color: var(--red);
        }
    }

    &-txt {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--hero-text-color);
        margin-bottom: 20px;
    }

    &-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        display: inline-block;
        color: var(--red);
        @include transition;

        &:hover {
            color: var(--hero-title-color);
        }
    }

    &-list {
        position: relative;

        li {
            font-weight: 500;
            font-size: 20px;
            line-height: 40px;
            text-transform: capitalize;
            color: var(--hero-text-color);
            position: relative;
            padding-left: 25px;

            &::before {
                content: '';
                position: absolute;
                top: 15px;
                left: 0;
                width: 8px;
                height: 8px;
                background: var(--hero-text-color);
                border-radius: 50%;
            }
        }
    }
}

// About blog detail end ===================