@charset "UTF-8";
/* Root ===================
========================= */
:root {
  --bg-body: #fff;
  --bg-section: #fff;
  --logo-light: block;
  --logo-dark: none;
  --txt-color: #455A64;
  --nav-bg-color: #fff;
  --theme-bg: #e7e7e7;
  --hire-bg: #19324E;
  --hire-shadow: rgba(248, 80, 82, 0.22);
  --hero-title-color: #19324E;
  --hero-text-color: #455A64;
  --remote-icon-bg: #F85052;
  --advantage-txt-color: #19324E;
  --svg-opacity: 1;
  --section-margin-top: 0;
  --meet-icon: #F85052;
  --table-bg: #FEEEEE;
  --banner-bg: #FEDCDC;
  --tag-bg: #F0F0F0;
  --svg: #F85052;
  --red: #F85052;
  --pink: #FEEEEE;
  --white: #fff;
  --gray: #455A64;
  --dark-blue: #19324E;
  --light-gray: #F0F0F0;
}

[data-theme=dark] {
  --bg-body: #19324E;
  --bg-section: #162B43;
  --txt-color: #fff;
  --nav-bg-color: #162B43;
  --theme-bg: #fff;
  --hire-bg: #455A64;
  --hire-shadow: rgba(48, 80, 82, 0.22);
  --hero-title-color: #fff;
  --hero-text-color: #fff;
  --remote-icon-bg: #162B43;
  --advantage-txt-color: #F85052;
  --svg-opacity: .3;
  --section-margin-top: 70px;
  --meet-icon: #fff;
  --table-bg: #162B43;
  --banner-bg: #162B43;
  --tag-bg: #162B43;
  --svg: #19324E;
  --logo-light: none;
  --logo-dark: block;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*** 
====================================================================
    Global Settings
====================================================================
***/
body {
  font-family: "Graphik", sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.7em;
  font-weight: 400;
  background: var(--bg-body);
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body.active {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.6em;
}

/* Typography */
h1 {
  font-size: 4em;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  position: relative;
  line-height: 1.8em;
}

.auto_container {
  position: relative;
  max-width: 1250px;
  padding: 0px 60px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border: 1px solid #DFDFDF;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DFDFDF;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DFDFDF;
}

input[type=date]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.header {
  padding: 30px 0;
  background: var(--bg-section);
  -webkit-box-shadow: 20px 35px 70px rgba(0, 0, 0, 0.04);
          box-shadow: 20px 35px 70px rgba(0, 0, 0, 0.04);
}
.header.stick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.header .logo-dark {
  display: var(--logo-dark);
  -o-object-position: left;
     object-position: left;
  width: 130px;
  height: 40px;
}
.header .logo-light {
  display: var(--logo-light);
  width: 150px;
  height: 32px;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav_box {
  margin-right: 35px;
  position: relative;
}
.header .nav_box-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--txt-color);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.header .nav_box-title.active {
  color: var(--red);
}
.header .nav_box-title:hover {
  color: var(--red);
}
.header .nav_box-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--txt-color);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}
.header .nav_box-link:last-child {
  margin-bottom: 0;
}
.header .nav_box-link.active, .header .nav_box-link:hover {
  color: var(--red);
}
.header .nav_box-outer {
  position: absolute;
  top: calc(100% + 35px);
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  white-space: nowrap;
  background: var(--nav-bg-color);
  padding: 20px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  opacity: 0;
  pointer-events: none;
}
.header .nav_box-outer.active {
  display: block;
  opacity: 1;
  pointer-events: unset;
  top: calc(100% + 25px);
}
.header .nav_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--txt-color);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  display: block;
  margin-right: 35px;
}
.header .nav_link.active {
  color: var(--red);
}
.header .nav_link:hover {
  color: var(--red);
}
.header .nav .theme input[type=checkbox] {
  display: none;
}
.header .nav .theme input[type=checkbox]:checked ~ .theme-label::before {
  right: 30px;
  background: #000;
}
.header .nav .theme input[type=checkbox]:checked ~ .theme-label::after {
  right: 33px;
  background-image: url("../images/svg/moon.svg");
}
.header .nav .theme-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
  display: block;
  color: var(--txt-color);
  position: relative;
  background: var(--theme-bg);
  border: 1px solid var(--theme-bg);
  width: 50px;
  height: 20px;
  border-radius: 10px;
  margin-right: 30px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.header .nav .theme-label:hover {
  -webkit-box-shadow: 0px 8px 10px rgba(48, 80, 82, 0.22);
          box-shadow: 0px 8px 10px rgba(48, 80, 82, 0.22);
}
.header .nav .theme-label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #19324E;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.header .nav .theme-label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 3px;
  width: 13px;
  height: 13px;
  background-image: url("../images/svg/sun.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}

.hire_dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  color: #fff;
  background: var(--red);
  padding: 10px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.2px;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-box-shadow: 0px 12px 14px var(--hire-shadow);
          box-shadow: 0px 12px 14px var(--hire-shadow);
}
.hire_dev span {
  display: block;
  width: 22px;
  height: 22px;
  margin-left: 8px;
}
.hire_dev span svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.hire_dev:hover {
  background: var(--hire-bg);
  -webkit-box-shadow: 0px 12px 14px rgba(25, 50, 78, 0.22);
          box-shadow: 0px 12px 14px rgba(25, 50, 78, 0.22);
}

.footer {
  overflow: hidden;
}
.footer .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.footer .logo-dark {
  display: var(--logo-dark);
  -o-object-position: left;
     object-position: left;
  width: 130px !important;
  height: 40px !important;
}
.footer .logo-light {
  display: var(--logo-light);
  width: 150px !important;
  height: 26px !important;
}
.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_nav ul li {
  margin-right: 50px;
}
.footer_nav ul li:last-child {
  margin-right: 0;
}
.footer_nav ul li a {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--txt-color);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.footer_nav ul li a:hover {
  color: var(--red);
}
.footer_tags {
  margin: 40px 0;
}
.footer_tags-title {
  color: var(--hero-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}
.footer_tags-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_tags-box a {
  display: inline-block;
  background: var(--tag-bg);
  color: var(--hero-text-color);
  border-radius: 19px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.footer_tags-box a:last-child {
  margin-right: 0;
}
.footer_tags-box a:hover {
  background: var(--red);
  color: #fff;
}
.footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  position: relative;
}
.footer_info::before {
  content: "";
  position: absolute;
  top: 0;
  left: -4000px;
  width: calc(100% + 8000px);
  height: 1px;
  background: #f0f0f0;
}
.footer_info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4000px;
  width: calc(100% + 8000px);
  height: 1px;
  background: #f0f0f0;
}
.footer_info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_info-item-icon {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.footer_info-item-icon svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.footer_info-item-icon svg path {
  stroke: var(--svg);
}
.footer_info-item-txt {
  color: var(--txt-color);
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
}
.footer_info-item-link {
  color: var(--hero-title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
}
.footer_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}
.footer .copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--txt-color);
}
.footer .copyright a {
  display: inline-block;
  margin-left: 20px;
}
.footer_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_media-item {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.footer_media-item:last-child {
  margin-right: 0;
}
.footer_media-item svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}

.hero {
  padding: 60px 0 75px;
}
.hero_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  z-index: 3;
}
.hero_info-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: var(--hero-title-color);
}
.hero_info-title span {
  color: var(--red);
}
.hero_info-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--hero-title-color);
  margin: 30px 0 40px;
}
.hero_info-subtitle a {
  font-weight: 700;
  color: var(--red);
  display: inline-block;
  margin-left: 10px;
}
.hero_info-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: var(--hero-text-color);
  margin-bottom: 30px;
}
.hero_info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero_info-comp {
  margin-right: 40px;
  display: block;
}
.hero .group_title {
  margin-bottom: 80px;
}
.hero_svg {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 0;
  max-width: 700px;
  width: 100%;
  height: 460px;
}

.hidden {
  opacity: 0;
}

.console-underscore {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: var(--red);
}

.title-arrow {
  position: relative;
}
.title-arrow::before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 10%;
  width: 140px;
  height: 50px;
  background: url("../images/svg/bg_arrow.svg") no-repeat center;
}

.main_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: var(--hero-title-color);
  text-align: center;
  position: relative;
  z-index: 1;
}
.main_title span {
  color: var(--red);
}

.remote {
  padding: 70px 0;
}
.remote_subtitle {
  margin: 10px 0 60px;
  color: var(--hero-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.remote_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 925px;
  margin: 0 auto;
}
.remote_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}
.remote_item:last-child {
  margin-right: 0;
}
.remote_item-icon {
  background: var(--remote-icon-bg);
  -webkit-box-shadow: 0px 12px 14px var(hire-shadow);
          box-shadow: 0px 12px 14px var(hire-shadow);
  border-radius: 8px;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.remote_item-icon svg {
  width: 50%;
  height: 50%;
  margin: auto;
  object-fit: contain;
  -o-object-fit: contain;
  fill: none;
}
.remote_item-title {
  width: calc(100% - 75px);
  color: var(--hero-title-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.advantage {
  padding: 70px 0;
  margin-top: var(--section-margin-top);
  background-color: var(--bg-section);
}
.advantage_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 980px;
  margin: 60px auto 0;
}
.advantage_item {
  width: calc(33.33% - 70px);
  margin: 0 20px;
  padding: 30px;
  background: var(--bg-body);
  -webkit-box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  position: relative;
}
.advantage_item-icon {
  width: 40px;
  height: 40px;
}
.advantage_item-icon svg {
  fill: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.advantage_item-icon svg path {
  stroke: var(--meet-icon);
}
.advantage_item-title {
  color: var(--hero-title-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0;
}
.advantage_item-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-title-color);
}
.advantage_item-txt span {
  font-weight: 700;
  color: var(--advantage-txt-color);
}
.advantage_item .bg_svg {
  position: absolute;
  top: 0;
  right: 0;
  opacity: var(--svg-opacity);
}
.advantage_item .bg_svg svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
  fill: none;
}

.meet {
  padding: 70px 0;
}
.meet_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.meet_info {
  max-width: 740px;
}
.meet_info-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-transform: capitalize;
  color: var(--hero-title-color);
  margin-bottom: 40px;
}
.meet_info-title span {
  color: var(--red);
}
.meet_info-list {
  max-width: 470px;
}
.meet_info-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #F0F0F0;
  margin-bottom: 20px;
  background: var(--bg-body);
}
.meet_info-list li:last-child {
  margin-bottom: 0;
}
.meet_info-list li span {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.meet_info-list li span svg {
  fill: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.meet_info-list li span svg path {
  stroke: var(--meet-icon);
}
.meet_info-list li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-text-color);
}
.meet_svg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.plans {
  padding: 70px 0;
}
.plans_table {
  max-width: 1000px;
  margin: 60px auto 0 auto;
}
.plans_table-link {
  background: var(--red);
  color: #fff;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.plans_table-link:hover {
  background: var(--hire-bg) !important;
}
.plans_table table {
  width: 100%;
  text-align: center;
  border: 1px solid #F0F0F0;
  border-radius: 20px;
  border-spacing: 30px 0;
}
.plans_table table thead th {
  padding: 40px 5px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--hero-title-color);
  border-bottom: 1px solid #F0F0F0;
}
.plans_table table thead th:nth-child(2) {
  background: var(--table-bg);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid #fff;
}
.plans_table table tbody td {
  padding: 10px 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  border-bottom: 1px solid #F0F0F0;
}
.plans_table table tbody td:nth-child(2) {
  background: var(--table-bg);
  border-bottom: 1px solid #fff;
}
.plans_table table tbody tr:last-child td {
  border-bottom: none;
}
.plans_table table tbody tr:last-child td:nth-child(2) {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: none;
}

.about_block-slider {
  margin-top: 60px;
}
.about_block-slider .slick-track {
  padding: 60px 0;
}
.about_block-slider .slick-prev {
  left: 45%;
  z-index: 2;
  top: unset;
  bottom: -40px;
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transform: unset;
          transform: unset;
}
.about_block-slider .slick-prev:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.about_block-slider .slick-prev svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.about_block-slider .slick-next {
  right: 45%;
  top: unset;
  bottom: -40px;
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transform: unset;
          transform: unset;
}
.about_block-slider .slick-next:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.about_block-slider .slick-next svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.about_block-item {
  padding: 30px;
  background: var(--bg-section);
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 25px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.about_block-item:hover {
  background: var(--red);
}
.about_block-item:hover .about_block-review svg path {
  stroke: #fff;
}
.about_block-item:hover .about_block-item-txt,
.about_block-item:hover .about_block-item-name,
.about_block-item:hover .about_block-item-prof {
  color: #fff;
}
.about_block-item-txt {
  margin: 30px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--hero-title-color);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.about_block-item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about_block-item-icon {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}
.about_block-item-icon img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.about_block-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--hero-title-color);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.about_block-item-prof {
  margin-top: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: var(--hero-text-color);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.about_block-review {
  width: 140px;
}
.about_block-review svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.about_block-review svg path {
  stroke: var(--red);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}

.clients_block {
  padding: 100px 0 70px;
}
.clients_block-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients_block-box-item {
  width: calc(20% - 120px);
  margin: 20px 60px;
}
.clients_block-box-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}

.banner {
  padding: 70px 0;
}
.banner_box {
  position: relative;
}
.banner_box-inner {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--banner-bg);
  border-radius: 20px 129px 20px 20px;
  padding: 60px 0 40px;
}
.banner_box-inner::before {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 20px;
  width: 350px;
  height: 350px;
  background: url("../images/mask-circle-2.svg") no-repeat center;
  background-size: contain;
  opacity: var(--svg-opacity);
}
.banner_box-inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  width: 280px;
  height: 290px;
  background: url("../images/mask-circles.svg") no-repeat center;
  background-size: contain;
  opacity: var(--svg-opacity);
}
.banner_box-txt {
  margin: 30px 0 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--txt-color);
}
.banner_box-link {
  text-align: center;
  background: var(--red);
  color: #fff;
  padding: 10px 50px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  display: inline-block;
}
.banner_box-link:hover {
  background: var(--hire-bg);
}
.banner_box .plus-svg {
  position: absolute;
  bottom: 0;
  right: -55px;
  width: 150px;
  height: 160px;
  z-index: 3;
  opacity: var(--svg-opacity);
}
.banner_box .plus-svg svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "";
}
.hero_slider .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 100px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_left.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}
.hero_slider .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 100px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_right.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}
.hero_slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero_slider .slick-dots li {
  display: block;
}
.hero_slider .slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  opacity: 0.3;
  border-radius: 50%;
}
.hero_slider .slick-dots li.slick-active {
  width: 30px;
  height: 30px;
}
.hero_slider .slick-dots li.slick-active button {
  background: url("../images/svg/dot.svg") no-repeat center !important;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 32px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  cursor: pointer;
  margin: 0 8px;
}
.slick-dots li button {
  border: 0;
  display: block;
  height: 14px;
  width: 14px;
  outline: none;
  color: transparent;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.slick-dots li button:focus {
  outline: none;
  background: blue;
}
.slick-dots li.slick-active button {
  background: blue;
  width: 28px;
  border-radius: 10px;
}

@media (max-width: 1023px) {
  .auto_container {
    padding: 0 35px;
  }
}
@media (max-width: 400px) {
  .auto_container {
    padding: 0 20px;
  }
}